job "kibana" {
  datacenters = ["dc1"]

  task "run-kibana" {
    driver = "docker"

    config {
      image = "docker.elastic.co/kibana/kibana:7.1.1"
      port_map { kibana_http = 5601 }
    }

    resources {
      cpu = 1024
      memory = 3000
      network {
        mbits = 20
        port "kibana_http" { static = 5601 }
      }
    }

    service {
      name = "kibana-service"
      port = "kibana_http"
      check {
        type = "tcp"
        interval = "10s"
        timeout = "2s"
      }
    }
  }
}
